html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.main-page {
  font-family: "양진체";
}
.header-box {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #ebedf2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box-logo-image {
  width: 200px;
  height: 180px;
  margin-left: 15px;
}

// 로그인 버튼 css start
.header-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 140px;
  //margin: 0 auto;
  border-right: 0.5px solid #ebedf2;
}
.header-box-btn {
  flex: 1 1 auto;
  margin: 10px;
  margin-right: 25px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}

.header-box-btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.hedaer-box-user {
  display: flex;
  margin-right: 80px;
}
// 로그인 버튼 css end

.header-box-user {
  display: flex;
  margin-right: 75px;
}

.header-notification-icon {
  width: 70px;
  height: 70px;
  margin-right: 40px;
}

.header-user-icon {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

// 아이콘을 감싸는 버튼 스타일
.header-box-user-info button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mainPage-main {
  margin-left: 270px;
  margin-top: 90px;
  width: 70%;
}

// card start
.figure {
  display: grid;
  border-radius: 2cap;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  height: 400px;
  margin-top: 40px;
}
.figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
.figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  //-webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
.figure:hover figcaption {
  --_i: 0%;
  color: white;
}
.figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  .figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

body {
  display: grid;
  grid-auto-flow: column;
  //place-content: center;
}
// card end

.mainPage-main-my {
  margin-top: 140px;
}
.mainPage-main-all {
  margin-top: 150px;
}

.header-box-user-info {
  position: relative;
  display: inline-block;
}

.header-user-dropdown {
  display: none;
  position: absolute;
  top: 60px; /* 적절한 위치로 설정 */
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-user-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-user-dropdown button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-user-dropdown a:hover {
  background-color: #f1f1f1;
}

.header-user-dropdown button:hover {
  background-color: #f1f1f1;
}

.header-box-user-info:hover .header-user-dropdown {
  display: block;
}
