// userinfo main start

// userinfo main end

.black-background {
  background-color: #6666;
  color: #fff;
  text-align: center;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.black-background-title-name {
  font-size: 2em;
}

.black-background-button {
  background-color: #6666;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-left: 30px;
}

.black-background-button:hover {
  background-color: #777;
}
.black-background-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.confirm-dialog,
.password-input-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.confirm-dialog button,
.password-input-dialog button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.confirm-dialog .confirm-yes,
.password-input-dialog .confirm-yes {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
}

.confirm-dialog .confirm-no,
.password-input-dialog .confirm-no {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
}

.password-input-dialog input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
